/*Navbar CSS*/
body {
    background-color: whitesmoke;
}
.storename {
    color: whitesmoke;
    margin-left: 5%;
}
a {
    color: lightslategray;
    justify-content: left;
}
.collapse {
    margin-right: 3%;
 }
 .form-inline {
    margin-left: 20%;
 }
 /*End Navbar CSS*/
table {
    box-shadow: 0px 0px 10px 0px;
    border-radius: 13px;
}
.form-container {
    margin-top: 2%;
    background-color: whitesmoke;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
}